<html>
<head>
<title>Transport for London Expenditure</title>
<meta property="og:image" content="https://lh5.googleusercontent.com/-JuJjlPgjxL4/VHc9TuJ2rqI/AAAAAAAACgw/O2Z8uTJxh0g/w800-h800/brand-tfl.png" />
    
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css">

<style>
.navbar-custom {
    background-color:#3366FF;
    color:#ffffff;
    border-radius:0;
}
.navbar-brand {
color: #fff;
}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.js"></script>
<script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

<script>

    
$(function () {
	function update() {
			arg = ''
		c = escapeHtml($("#com").val()) ;
		n = escapeHtml($("#doc").val()) ;
		e = escapeHtml($("#ent").val()) ;
		ex = escapeHtml($("#exp").val()) ;
		cat = escapeHtml($("#mer").val()) ;
		a = escapeHtml($("#amo").val()) ;
		d = escapeHtml($("#dat").val()) ;
		ao = escapeHtml($("#ao").val()) ;
		d_o = escapeHtml($("#d_o").val()) ;
		
		if (c != '') {
			arg = arg + '&c=' + c
		}
		if (n != '') {
			arg = arg + '&n=' + n
		}
		if (cat != '') {
			arg = arg + '&cat=' + cat
		}
		if (e != '') {
			arg = arg + '&e=' + e
		}
		if (ex != '') {
			arg = arg + '&ex=' + ex
		}
		if (a != '') {
			arg = arg + '&a=' + a + '&ao=' + ao
		}
		if (d != '') {
			arg = arg + '&d=' + d+ '&do=' + d_o
		}
		$("#link").attr("href","?"+arg); 
		$("#XLS").attr("href","xls?"+arg); 
                $('#table-methods-table').bootstrapTable( 'refresh',
		{
                    url: 'query?'+arg
                });
		drawChart("graph?"+arg);
	}

	$('#form1').submit(function(event){
		event.preventDefault();
		update();
});

            $('#refresh').click(function () {
		update();
            });
	    
$('#feedback').click(function() {
	event.preventDefault();
	var form_html = "<form action='feedback' method='get'>";

	//form_html += '<span class="input-group-addon" id="basic-addon1">Name:</span>'
	form_html += '<input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" name="n">'
	//form_html += '<span class="input-group-addon" id="basic-addon1">Email:</span>'
	form_html += '<input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" name="e">'
	//form_html += '<span class="input-group-addon" id="basic-addon1">Message:</span>'
	form_html += '<textarea rows="5" cols="20"  class="form-control" placeholder="Message" aria-describedby="basic-addon1" name="m" wrap="physical"></textarea>'

	form_html += "<input type='submit' class='btn btn-default' name='submit id='submit' value='Send' />";
	form_html += "</form>";
	
	$('#fb_div').html(form_html);
	
	});
	    
	    function drawChart(url) {
      var jsonData = $.ajax({
          url: url,
          dataType:"json",
          async: false
          }).responseText;
          
      var data = new google.visualization.DataTable(jsonData);
	var formatter = new google.visualization.NumberFormat({pattern:'###,###'} );
	formatter.format(data, 1);

      var chart = new google.visualization.ScatterChart(document.getElementById('curve_chart'));
      	var options = {
          vAxis: {title: "Cumulative Total (GBP)"},
          legend: 'none',
          interpolateNulls: true,
          series: {
            1: { lineWidth: 1, pointSize: 0 }
          }
        };
      chart.draw(data, options);
    }

google.load('visualization', '1', {'packages':['corechart']});
      
google.setOnLoadCallback(drawChart("graph?{{ cstring|safe }}"));


// Use the browser's built-in functionality to quickly and safely escape the
// string
function escapeHtml(str) {
    var div = document.createElement('div');
    div.appendChild(document.createTextNode(str));
    return div.innerHTML;
};

});

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50102036-2', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>
<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-brand">
        Transport for London expenditure
    </div>
  </div>
</nav>
<div class="container-fluid">
<form id="form1">
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Company name</span>
  <input type="text" class="form-control" placeholder="Name of company payments being made to" aria-describedby="basic-addon1" id="com" value="{{ com }}">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Document Number</span>
  <input type="text" class="form-control" placeholder="Document Number - unique reference for payments except for Tubelines" aria-describedby="basic-addon1" id="doc" value="{{ doc }}">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Expenditure Account</span>
  <input type="text" class="form-control" placeholder="Effectively cost description" aria-describedby="basic-addon1" id="exp" value="{{ exp }}">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Merchant Category</span>
  <input type="text" class="form-control" placeholder="(Mostly unused)" aria-describedby="basic-addon1" id="mer" value="{{ mer }}">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Entity</span>
  <input type="text" class="form-control" placeholder="TfL division making payment - e.g. 'London Underground Ltd' (only 2015 financial year)" aria-describedby="basic-addon1" id="ent" value="{{ ent }}">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Amount</span>
<select class="form-control" id="ao" value="{{ ao }}">
    <option value="1">Equal to</option>
    <option value="2">Greater than</option>
    <option value="3">Less than</option>
</select>
<span class="input-group-addon">&pound;</span>
  <input type="text" class="form-control" placeholder="Amount" aria-describedby="basic-addon1" id="amo" value="{{ amo }}">
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Date</span>
<select class="form-control" id="d_o"  value="{{ d_o }}">
    <option value="1">Equal to</option>
    <option value="2">Greater than</option>
    <option value="3">Less than</option>
</select>
  <input type="date" class="form-control" placeholder="Date" aria-describedby="basic-addon1" id="dat" value="{{ dat }}">
</div>

<div class="input-group">
<button class="btn btn-default" id="refresh" data-method="refresh">
        Update
    </button>
    </form>
    </div><!-- /input-group -->
    
    
    <table id="table-methods-table" data-toggle="table" data-url="query?{{ cstring|safe }}" data-height="800"  data-side-pagination="server"
    data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="exp_account" data-sortable="true">Expenditure Account</th>
                    <th data-field="entity" data-sortable="true">Entity</th>
                    <th data-field="merchant_cat" data-sortable="true">Merchant Category</th>
                    <th data-field="vendor_name" data-sortable="true">Vendor name</th>
                    <th data-field="amount" data-sortable="true">Amount (&pound;)</th>
                    <th data-field="doc_num" data-sortable="true">Document Number</th>
                    <th data-field="clearing_date" data-sortable="true">Clearing Date</th>
                </tr>
		<tr>
            </thead>
	    
        </table>

</div>
<div  class="container-fluid">
<a href="?{{ cstring|safe }}" id="link">LINK</a> | <a href="xls?{{ cstring|safe }}" id="XLS">EXCEL</a> | <a href="#" id="feedback">FEEDBACK</a> <br /><br />
</div>
<div id="fb_div" class="container-fluid"></div>
<div id="curve_chart" style="height: 500px" class="row-fluid"></div>
</body>
</html>
